.home-div {
  text-align: center;
  height: 480px;
  width: 500px;
  margin: auto;
  margin-top: 6%;
  border: 2px green solid;
}
#first-row {
  font-size: 40px;
  color: blue;
  font-style: italic;
  margin-top: 10%;
}
#input {
  height: 50px;
  width: 350px;
  margin-top: 7%;
  font-size: 40px;
  border: 2px green solid;
  text-align: center;
}
#btn,
#btn_1 {
  background-color: blue;
  color: white;
  font-size: 40px;
  font-weight: bold;
  border-radius: 15px;
  height: 80px;
  width: 250px;
  border: 0 blue solid;
  margin-top: 20px;
}
#btn:hover {
  background-color: brown;
}
